'use strict';
logs/*
!.gitkeep
node_modules/
bower_components/
app/assets/css/*
app/assets/fonts/*
app/assets/img/*
app/assets/js/*
!app/assets/css/readme/README.md
!app/assets/fonts/readme/README.md
!app/assets/img/readme/README.md
!app/assets/js/readme/README.md
tmp
.DS_Store
.idea