<!DOCTYPE html>
<html lang="fr" ng-app="App">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>MyProject</title>
    <link href="assets/css/main.css" rel="stylesheet">
    <script src="assets/js/modernizr/modernizr.js"></script>
    <!--[if lt IE 9]>
      <script src="assets/js/respond/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="#" ng-controller="Partial1Controller">Page {{nb}}</a>
        <a href="#/page/{{nb}}" ng-controller="Partial2Controller">Page {{nb}}</a>
        <a href="#" ng-controller="SystemLanguagesController" ng-click="setLanguage('fr_FR')">Français</a>
        <a href="#" ng-controller="SystemLanguagesController" ng-click="setLanguage('en_US')">English</a>
      </nav>
      <div class="content" ng-view></div>
    </div>
    <!-- JS LIBRARIES -->
    <!--[if lt IE 9]>
      <script src="assets/js/jquery/jquery.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
      <script src="assets/js/jquery2/jquery.min.js"></script>
    <!--<![endif]-->
    <script src="assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script src="assets/js/jquery.jscroll/jquery.jscroll.min.js"></script>
    <script src="assets/js/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="assets/js/angular/angular.js"></script>
    <script src="assets/js/angular-resource/angular-resource.min.js"></script>
    <script src="assets/js/angular-route/angular-route.min.js"></script>
    <script src="assets/js/angular-animate/angular-animate.min.js"></script>
    <script src="assets/js/angular-translate/angular-translate.min.js"></script>
    <script src="assets/js/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="assets/js/angular-cookies/angular-cookies.min.js"></script>
    <!-- JS APP -->
    <script src="js/app.js"></script>
    <script src="js/config.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/animations.js"></script>
  </body>
</html>